@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
