.homepage {
    display: flex;
    margin-top: 8rem;
    flex-direction: column;
    text-align: center;
}

.wrap-content a {
    padding: 0.7rem 1.7rem;
    border-radius: 60px;
    background: #000;
    color: white;
    border: 2px solid transparent;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.wrap-content a:hover {
    background: white;
    color: #000;
    border: #000 solid 2px;
}

.homepage h1 {
    font-size: 48px;
    margin-bottom: 0;
}

.pitie {
    margin-top: 4rem;
}

.homepage h4 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 8rem;
}

.homepage .dropfile-logo {
    width: 254px;
}

.info-dropfile {
    font-size: 16px;
}

.arrow-info-dropfile {
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
}
